*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

body{
    background-image: url(assets/background.jpg);
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(135, 224, 253, 0.8),rgba(83, 203, 241,0.5),rgba(5, 171, 224,0.6) 100%);;
}
.mainLogo{
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: #fdfdfd;
    text-shadow: 2px 4px 2px #000080;
    font-weight: bold;
    font-size: 25px;
}

.mainLogo img{
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(125, 185, 232,0.9),rgba(32, 124, 202,0.6),rgba(41, 137, 216,0.8));
    border: 4px solid rgba(255,255,255,0.8);
    border-radius: 50px;
}

.boxSearch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);;
    border-radius: 15px;
    width: 350px;
    height: 80px;
    padding: 2%;
    margin-top: 20px;
}

.boxSearch img{
    width: 48px;
    height: 48px;
}

.boxSearch input{
    width: 300px;
    height: 40px;
    background: linear-gradient(#ebf1f6,#abd3ee,#d5ebfb);;
;
}

.content{
    width: 350px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content h2{
    font-size: 48px;
    color: #fdfdfd;
    text-shadow: 4px 0px 2px #000080;
}

.boxInfo{
    width: 350px;
    height: 250px;
    background-image: url(assets/img01.jpg); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 2px solid #fdfdfd;
    border-radius: 15px;
    margin-bottom: 15px;
}

.boxInfo img{
    width: 30%;
}

.boxInfo h2{
    color: #fdfdfd;
    margin-bottom: 20px;
    text-shadow: 2px 0px 4px #000000;
}